.grillasBlog {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 100vw;
    grid-template-rows: 1fr 7fr 2fr;
    grid-template-areas:
    "nav"
    "blog"
    "footer";
}

.blog {
    grid-area: blog;
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 2rem 1rem;
    padding: 0;
    border-radius: 1rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.card-img-top {
    border-radius: 1rem 1rem 0 0;
}

.card-body {
    padding: 0;
}

.card-text {
    display: none;
}

.btnBlogActivo {
    bottom: 1.5rem;
    width: 8rem;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    background-color: #FEF17F;
    border-radius: 10px;
    border: 0;
    font-family: anton;
    font-size: 1rem;
    text-transform: uppercase;
    color: black;
    display: inline-block; 
    align-self: center;
    margin: 1rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    transition: all 0.2s ease-in-out;
}

.btnBlogActivo:hover {
    color: black;
}

@media screen and (min-width:807px) {
    .grillas {
        display: grid;
        height: 100vh;
        width: 100vw;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 7fr 2fr;
        grid-template-areas:
        "nav nav nav nav"
        "blog blog blog blog"
        "footer footer footer footer";
    }

        
    .card {
        display: flex;
        flex-direction: row;
        align-self: center;
        margin: 2rem 1rem;
        padding: 0;
        border-radius: 1rem;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    }
    
    div .card-img-top {
        border-radius: 1rem 0 0 1rem;
        width: 50%;
        object-fit: cover;
        object-position: top left;
    }

    div .card-body {
        padding: 2rem 1rem;
    }

    div .card-title {
        font-family: anton;
        font-size: 1.4rem;
        line-height: 2rem;
    }

    div .card-text {
        display: inline-block;
    }

    .btnBlogActivo:hover {
        color: black;
        background-color: #cec465;
        font-size: 1.1rem;
    }
}