.grillasProyectos {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 100vw;
    grid-template-rows: 1fr 7fr 2fr;
    grid-template-areas:
    "nav"
    "card"
    "footer";
}

@media screen and (min-width:807px) {
    .grillas {
        display: grid;
        height: 100vh;
        width: 100vw;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 7fr 2fr;
        grid-template-areas:
        "nav nav nav nav"
        "card card card card"
        "footer footer footer footer";
    }
}