header {
  height: 5.25rem;
  width: 100vw;
  background-color: #202124;
  position: fixed;
  align-items: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  z-index: 3; }
  @media screen and (min-width: 810px) {
    header {
      border-bottom: 2px solid white; }
      header .centrarLogo {
        margin-bottom: 1rem; }
      header .navAlineado {
        height: 6.25rem; } }
  header nav {
    height: 5.25rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header nav .navLogo {
      width: 10rem;
      padding: 1rem;
      margin-left: 1rem;
      animation: fadeIn;
      animation-duration: 2s; }
    header nav .navIcono {
      font-size: 1.5rem;
      color: white;
      margin-right: 1rem;
      cursor: pointer; }
      @media screen and (min-width: 810px) {
        header nav .navIcono {
          display: none; } }
    header nav .navMenu {
      position: fixed;
      width: 100%;
      height: 0vh;
      top: 5.25rem;
      background-color: #202124;
      padding-left: 1rem;
      border-bottom: white solid 2px;
      transition: all .3s ease-in-out; }
      @media screen and (min-width: 810px) {
        header nav .navMenu {
          position: relative;
          height: 5.25rem;
          top: 0;
          background-color: none;
          transition: none;
          text-align: right;
          padding-right: 1rem; } }
      header nav .navMenu li {
        display: none;
        line-height: 2rem;
        padding: 1rem;
        transition: all 4s; }
        @media screen and (min-width: 810px) {
          header nav .navMenu li {
            display: inline-block;
            line-height: 4rem;
            transition: none; } }
        header nav .navMenu li a {
          color: white;
          text-transform: uppercase;
          font-family: poppins;
          font-weight: 400;
          text-decoration: none; }
          @media screen and (min-width: 810px) {
            header nav .navMenu li a {
              text-decoration: none;
              position: relative;
              transition: all 0.6s ease;
              top: -0.5rem; }
              header nav .navMenu li a::after {
                content: "";
                position: absolute;
                height: 2px;
                background-color: #FEF17F;
                width: 0;
                left: 50%;
                bottom: -16px;
                transform: translateX(-50%);
                transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55) all; }
              header nav .navMenu li a:hover {
                color: #FEF17F; }
              header nav .navMenu li a:hover::after {
                width: 100%; } }
        header nav .navMenu li .activo {
          color: #FEF17F;
          font-weight: 500;
          transition: .3s; }
    header nav #check {
      display: none; }
    header nav #check:checked ~ .navMenu {
      height: 21rem; }
      header nav #check:checked ~ .navMenu li {
        display: block; }

body footer {
  grid-area: footer;
  width: 100vw;
  height: 15rem;
  background-color: #202124;
  color: white;
  margin-top: 5rem;
  text-align: center;
  filter: drop-shadow(0px -4px 4px rgba(0, 0, 0, 0.5));
  z-index: 1;
  bottom: 0; }
  body footer .footerLogo {
    max-height: 90px;
    max-width: 70%;
    margin-top: -2rem;
    margin-bottom: 2rem; }
  body footer div h4 {
    text-transform: uppercase;
    font-family: poppins;
    font-weight: 400;
    font-size: 0.80rem;
    text-align: center; }
  body footer div .footerPng {
    width: 3rem;
    margin: 2rem 0.5rem; }
  body footer div address {
    font-size: 0.6rem;
    padding-bottom: 1rem;
    background-color: #202124; }

.footerForm {
  margin-top: 8rem; }
  @media screen and (min-width: 810px) {
    .footerForm {
      margin-top: 0; } }

.card {
  border: 0;
  margin-top: 2rem;
  background-color: #EFEFEF; }
  @media screen and (min-width: 810px) {
    .card {
      grid-area: card;
      display: flex;
      flex-direction: row !important;
      justify-content: space-between;
      position: relative;
      width: 100%; } }
  .card .card1,
  .card .card2 {
    padding: 1rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    animation: fadeIn;
    animation-duration: 2s;
    width: 90%; }
    @media screen and (min-width: 810px) {
      .card .card1,
      .card .card2 {
        padding: 1rem;
        align-self: center;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
        width: 50%; } }
    .card .card1 h5,
    .card .card2 h5 {
      font-family: poppins;
      font-size: 1.2rem;
      font-weight: 500;
      text-align: center;
      padding: 1rem;
      background-color: #ffffff;
      border-radius: 1rem 1rem 0 0;
      width: 100%;
      margin: 0; }
    .card .card1 .centrarBoton,
    .card .card2 .centrarBoton {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center; }
      .card .card1 .centrarBoton .cardImagen,
      .card .card2 .centrarBoton .cardImagen {
        width: 100%;
        border-radius: 0 0 1rem 1rem;
        align-self: center; }
      .card .card1 .centrarBoton .btnActivo,
      .card .card2 .centrarBoton .btnActivo {
        position: absolute;
        align-content: space-around;
        width: 8rem;
        text-decoration: none;
        text-align: center;
        padding: 1rem;
        background-color: #FEF17F;
        border-radius: 10px;
        border: 0;
        font-family: anton;
        font-size: 1rem;
        text-transform: uppercase;
        color: #000000;
        margin: auto;
        display: block;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
        transition: all 0.2s ease-in-out; }
        @media screen and (min-width: 810px) {
          .card .card1 .centrarBoton .btnActivo:hover,
          .card .card2 .centrarBoton .btnActivo:hover {
            background-color: #b7ad5a; } }
      .card .card1 .centrarBoton .btnInactivo,
      .card .card2 .centrarBoton .btnInactivo {
        position: absolute;
        width: 8rem;
        text-decoration: none;
        text-align: center;
        padding: 1rem;
        background-color: #ffffff;
        border-radius: 10px;
        border: 0;
        font-family: anton;
        font-size: 1rem;
        text-transform: uppercase;
        color: #a3a3a3;
        margin: auto;
        display: block;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5)); }

.grillasBlog {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 100vw;
  grid-template-rows: 1fr 7fr 2fr;
  grid-template-areas: "nav" "blog" "footer"; }
  @media screen and (min-width: 810px) {
    .grillasBlog .grillasBlog {
      display: grid;
      height: 100vh;
      width: 100vw;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 7fr 2fr;
      grid-template-areas: "nav nav nav nav" "blog blog blog blog" "footer footer footer footer"; } }
  .grillasBlog .blog {
    grid-area: blog;
    display: flex;
    flex-direction: column; }
    .grillasBlog .blog .card {
      display: flex;
      flex-direction: column;
      align-self: center;
      margin: 2rem 1rem;
      padding: 0;
      border-radius: 1rem;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
      animation: fadeIn;
      animation-duration: 2s; }
      @media screen and (min-width: 810px) {
        .grillasBlog .blog .card {
          display: flex;
          flex-direction: row;
          align-self: center;
          margin: 2rem 1rem;
          padding: 0;
          border-radius: 1rem;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5)); } }
      .grillasBlog .blog .card .card-img-top {
        border-radius: 1rem 1rem 0 0; }
        @media screen and (min-width: 810px) {
          .grillasBlog .blog .card .card-img-top {
            border-radius: 1rem 0 0 1rem;
            width: 50%;
            object-fit: cover;
            object-position: top left; } }
      .grillasBlog .blog .card .card-body {
        padding: 0; }
        @media screen and (min-width: 810px) {
          .grillasBlog .blog .card .card-body {
            padding: 2rem 1rem; } }
      @media screen and (min-width: 810px) {
        .grillasBlog .blog .card .cardTitle {
          font-family: anton;
          font-size: 1.4rem;
          line-height: 2rem; } }
      .grillasBlog .blog .card .card-text {
        display: none; }
        @media screen and (min-width: 810px) {
          .grillasBlog .blog .card .card-text {
            display: inline-block; } }
      .grillasBlog .blog .card .btnBlogActivo {
        bottom: 1.5rem;
        width: 8rem;
        text-decoration: none;
        text-align: center;
        padding: 1rem;
        background-color: #FEF17F;
        border-radius: 10px;
        border: 0;
        font-family: anton;
        font-size: 1rem;
        text-transform: uppercase;
        color: black;
        display: inline-block;
        align-self: center;
        margin: 1rem;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
        transition: all 0.2s ease-in-out; }
        .grillasBlog .blog .card .btnBlogActivo:hover {
          background-color: #b7ad5a; }

.grillasContactanos {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 100vw;
  grid-template-rows: 1fr 7fr 2fr;
  grid-template-areas: "nav" "formulario" "footer"; }
  @media screen and (min-width: 810px) {
    .grillasContactanos .grillasContactanos {
      display: grid;
      height: 100vh;
      width: 100vw;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 7fr 2fr;
      grid-template-areas: "nav nav nav nav" "form form form form" "footer footer footer footer"; } }

.bodyForm {
  background-color: #35363A; }
  .bodyForm h2 {
    display: none; }
    @media screen and (min-width: 810px) {
      .bodyForm h2 {
        display: block;
        height: 3rem; } }
  .bodyForm fieldset {
    grid-area: form;
    font-family: poppins;
    font-size: 1rem;
    line-height: 1.6rem;
    margin: 1rem 0 0 0;
    text-align: center;
    border: 0px; }
    @media screen and (min-width: 810px) {
      .bodyForm fieldset {
        grid-area: form;
        display: flex;
        flex-direction: row;
        align-content: center;
        background-image: url(../img/contact.png);
        background-color: #272727;
        background-blend-mode: soft-light;
        background-size: cover;
        width: 100vw; } }
    .bodyForm fieldset .formTitulo {
      font-family: anton;
      font-size: 2rem;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 4.5px;
      color: #FEF17F;
      margin-top: 3rem; }
      @media screen and (min-width: 810px) {
        .bodyForm fieldset .formTitulo {
          text-align: left;
          margin-top: 5rem;
          margin-left: 1rem;
          margin-bottom: 1rem; } }
    .bodyForm fieldset .formSubtitulo {
      color: white;
      font-family: poppins;
      text-transform: uppercase;
      font-weight: 200;
      font-size: 1rem;
      margin-top: 1rem;
      letter-spacing: 0.9px; }
      @media screen and (min-width: 810px) {
        .bodyForm fieldset .formSubtitulo {
          text-align: left;
          margin: 0 1rem;
          margin-right: 5rem; } }
    .bodyForm fieldset .formTexto {
      color: white;
      padding: 0 3rem; }
      @media screen and (min-width: 810px) {
        .bodyForm fieldset .formTexto {
          padding: 1rem 0; } }
    @media screen and (min-width: 810px) {
      .bodyForm fieldset p {
        text-align: left;
        margin: 0 1rem;
        margin-right: 5rem; } }
    .bodyForm fieldset .btnForm {
      position: relative;
      bottom: -17.7rem;
      align-self: center;
      width: 100%; }
      @media screen and (min-width: 810px) {
        .bodyForm fieldset .btnForm {
          text-align: left;
          margin-left: 0.8rem;
          position: relative;
          bottom: 0; } }
      .bodyForm fieldset .btnForm .btnFormActivo {
        width: 80%;
        height: 2.5rem;
        text-decoration: none;
        background-color: #FEF17F;
        border-radius: 10px;
        border: 0;
        font-family: anton;
        font-size: 1rem;
        text-transform: uppercase;
        color: black;
        margin-bottom: 0.5rem;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5)); }
        @media screen and (min-width: 810px) {
          .bodyForm fieldset .btnForm .btnFormActivo {
            width: 30%;
            margin-right: 0.5rem; }
            .bodyForm fieldset .btnForm .btnFormActivo:hover {
              background-color: #b7ad5a; } }
      .bodyForm fieldset .btnForm .btnFormInactivo {
        width: 80%;
        height: 2.5rem;
        text-decoration: none;
        background-color: #ffffff;
        border-radius: 10px;
        border: 0;
        font-family: anton;
        font-size: 1rem;
        text-transform: uppercase;
        color: #a3a3a3;
        margin-bottom: 0.5rem;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5)); }
        @media screen and (min-width: 810px) {
          .bodyForm fieldset .btnForm .btnFormInactivo {
            width: 30%; } }
    .bodyForm fieldset .formImput {
      margin-bottom: 3rem;
      margin-top: -6rem; }
      @media screen and (min-width: 810px) {
        .bodyForm fieldset .formImput {
          width: 100%;
          order: -1;
          margin: 3rem;
          align-self: center; } }
      .bodyForm fieldset .formImput input {
        font-family: poppins;
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 2px;
        color: #969696;
        width: 80%;
        height: 2.5rem;
        margin: 4px;
        padding: 8px 16px;
        border-radius: 10px;
        border: 1px solid #c2c2c2; }
      .bodyForm fieldset .formImput textarea {
        font-family: poppins;
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 2px;
        color: #969696;
        width: 80%;
        height: 8rem;
        margin: 4px;
        padding: 8px 16px;
        border-radius: 10px;
        border: 1px solid #c2c2c2; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0; }

.grillasIndex {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 100vw;
  grid-template-rows: 1fr 3fr 2fr 2fr 2fr;
  grid-template-areas: "nav" "portada" "proyecto" "card" "footer"; }
  @media screen and (min-width: 810px) {
    .grillasIndex {
      display: grid;
      height: 100vh;
      width: 100vw;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 3fr 2fr 2fr 2fr;
      grid-template-areas: "nav nav nav nav" "portada portada portada portada" "poyecto proyecto proyecto proyecto" "card card card card" "footer footer footer footer"; } }

body {
  display: grid;
  background-color: #EFEFEF;
  width: 100vw; }
  body main {
    padding-top: 5.25rem; }
    body main .portada {
      grid-area: portada; }
      @media screen and (min-width: 810px) {
        body main .portada {
          grid-area: portada;
          display: flex;
          flex-direction: column;
          position: relative;
          justify-content: space-between;
          width: 100vw;
          height: 30rem; } }
      body main .portada .portadaTitle {
        color: #FEF17F;
        background-color: #35363A;
        text-align: center;
        text-transform: uppercase;
        padding: 0.5rem 0; }
        @media screen and (min-width: 810px) {
          body main .portada .portadaTitle {
            position: absolute;
            right: 0;
            top: 0;
            width: 27rem;
            color: #FEF17F;
            align-content: center;
            text-transform: uppercase;
            background-color: #35363A;
            padding-top: 2.5rem;
            z-index: 1; } }
        body main .portada .portadaTitle .portadaTitulo {
          font-family: anton;
          font-weight: 100;
          font-size: 2rem;
          letter-spacing: 2px;
          line-height: 15px;
          padding-top: 2.5rem; }
          @media screen and (min-width: 810px) {
            body main .portada .portadaTitle .portadaTitulo {
              font-family: anton;
              font-weight: 100;
              font-size: 2.2rem;
              letter-spacing: 2px;
              padding: 2rem 1rem 1rem 3rem;
              text-align: left; } }
        body main .portada .portadaTitle .portadaSubtitulo {
          font-family: anton;
          font-weight: 100;
          letter-spacing: 2.2px;
          font-size: 1.5rem; }
          @media screen and (min-width: 810px) {
            body main .portada .portadaTitle .portadaSubtitulo {
              font-family: anton;
              font-weight: 100;
              letter-spacing: 1px;
              font-size: 1.8rem;
              padding-left: 2rem;
              text-align: left; } }
      body main .portada .portadaImg {
        width: 100vw;
        object-fit: contain;
        object-position: left;
        z-index: 0; }
        @media screen and (min-width: 810px) {
          body main .portada .portadaImg {
            width: 100vw;
            height: 30rem; } }
      body main .portada .portadaTexto {
        color: #000000;
        text-align: center;
        margin: 2rem 1rem; }
        @media screen and (min-width: 810px) {
          body main .portada .portadaTexto {
            position: absolute;
            background-color: #35363A;
            color: white;
            right: -1rem;
            bottom: -2rem;
            top: 7rem;
            width: 27rem;
            padding: 1.5rem 3rem 0 2.5rem; } }
    body main .proyecto {
      grid-area: proyecto;
      background-color: #202124;
      background-blend-mode: soft-light;
      background-size: cover;
      color: #ffffff;
      padding: 1rem;
      text-align: center; }
      @media screen and (min-width: 810px) {
        body main .proyecto {
          background-color: #EFEFEF; }
          body main .proyecto .proyectoTextos {
            grid-area: proyecto;
            margin: 4rem 0 0 0;
            color: #000000; } }
      body main .proyecto h3 {
        text-transform: uppercase;
        font-family: anton;
        letter-spacing: 2px;
        font-weight: 400;
        font-size: 1rem;
        text-align: center;
        padding: 1rem 0;
        border-bottom: #FEF17F solid 2px; }
        @media screen and (min-width: 810px) {
          body main .proyecto h3 {
            border-bottom: none; } }
      body main .proyecto .hide {
        display: none; }
        @media screen and (min-width: 810px) {
          body main .proyecto .hide {
            display: block; } }
    body main h2 {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-family: anton;
      font-size: 1.25rem;
      color: #ffffff;
      background-color: #35363A;
      background-blend-mode: soft-light;
      font-weight: 100;
      text-align: center;
      padding: 1rem 3rem;
      margin: 0;
      letter-spacing: 2px; }
    body main h6 {
      font-family: poppins;
      font-size: 0.87rem;
      line-height: 1.6rem;
      font-weight: 400;
      margin: 1rem;
      text-align: center; }
    body main p {
      font-family: poppins;
      font-size: 0.87rem;
      line-height: 1.6rem;
      font-weight: 400;
      margin: 1rem;
      text-align: center; }

.grillasProyectos {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 100vw;
  grid-template-rows: 1fr 7fr 2fr;
  grid-template-areas: "nav" "card" "footer"; }
  @media screen and (min-width: 810px) {
    .grillasProyectos .grillasProyectos {
      display: grid;
      height: 100vh;
      width: 100vw;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 7fr 2fr;
      grid-template-areas: "nav nav nav nav" "card card card card" "footer footer footer footer"; } }

.grillasNosotros {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 100vw;
  grid-template-rows: 1fr 7fr 2fr;
  grid-template-areas: "nav" "nosotros" "footer"; }
  @media screen and (min-width: 810px) {
    .grillasNosotros .grillasNosotros {
      display: grid;
      height: 100vh;
      width: 100vw;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 7fr 2fr;
      grid-template-areas: "nav nav nav nav" "nosotros nosotros nosotros nosotros" "footer footer footer footer"; } }
  .grillasNosotros .nosotros {
    grid-area: nosotros;
    width: 100vw;
    height: 100%; }
    .grillasNosotros .nosotros .nosotrosImagen {
      width: 100%; }

.grillasAda28 {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 100vw;
  grid-template-rows: 1fr 7fr 2fr;
  grid-template-areas: "nav" "ada28" "footer"; }
  @media screen and (min-width: 810px) {
    .grillasAda28 .grillasAda28 {
      display: grid;
      height: 100vh;
      width: 100vw;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 7fr 2fr;
      grid-template-areas: "nav nav nav nav" "ada28 ada28 ada28 ada28" "footer footer footer footer"; } }
  .grillasAda28 .ada28 {
    grid-area: ada28;
    display: flex;
    flex-direction: column; }
    .grillasAda28 .ada28 .carouselImg {
      width: 100%; }
    .grillasAda28 .ada28 .mapa {
      width: 100%;
      height: 20rem;
      margin: 1rem 0; }
