@import "variables";
@import "mixins";

@function color ($color-name) {
    @return map-get($colors,$color-name);
}


.grillasContactanos {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 100vw;
    grid-template-rows: 1fr 7fr 2fr;
    grid-template-areas:
        "nav"
        "formulario"
        "footer";

        @include desktop {
        .grillasContactanos {
            display: grid;
            height: 100vh;
            width: 100vw;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 7fr 2fr;
            grid-template-areas:
                "nav nav nav nav"
                "form form form form"
                "footer footer footer footer";
        }
    }
}

.bodyForm {
    background-color: color(secondary);

    h2 {
        display: none;

        @include desktop {
            display: block;
            background-color: color(primary);
            opacity: 85%;
            height: 4rem;
        }
    }

    fieldset {
        grid-area: form;
        font-family: poppins;
        font-size: 1rem;
        line-height: 1.6rem;
        margin: 1rem 0 0 0;
        text-align: center;
        border: 0px;

        @include desktop {
            grid-area: form;
            display: flex;
            flex-direction: row;
            align-content: center;
            background-image: url(../img/contact.png);
            background-color:color(primary);
            background-blend-mode: soft-light;
            background-size: cover;
            width: 100vw;
            height: 33rem;
            margin-top: -4rem;
        }

        .formTitulo {
            font-family: anton;
            font-size: 2rem;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 4.5px;
            color: color(tertiary);
            margin-top: 3rem;

            @include desktop {
                text-align: left;
                margin-top: 9.5rem;
                margin-left: 1rem;
                margin-bottom: 1rem;
            }
        }

        .formSubtitulo {
            color: color(primary-light);
            font-family: poppins;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 1rem;
            margin-top: 1rem;
            letter-spacing: 0.9px;

            @include desktop {
                text-align: left;
                margin: 0 1rem;
                margin-right: 5rem;
            }
        }

        .formTexto {
            color: color(primary-light);
            padding: 0 3rem;

            @include desktop {
                padding: 1rem 0;
            }
        }

        p {
            @include desktop {
                text-align: left;
                margin: 0 1rem;
                margin-right: 5rem;
            }
        }

        .btnForm {
            position: relative;
            bottom: -17.7rem;
            align-self: center;
            width: 100%;

            @include desktop {
                text-align: left;
                margin-left: 0.8rem;
                position: relative;
                bottom: 0;
            }

            .btnFormActivo {
                width: 80%;
                height: 2.5rem;
                text-decoration: none;
                background-color: color(tertiary);
                border-radius: 10px;
                border: 0;
                font-family: anton;
                font-size: 1rem;
                text-transform: uppercase;
                color: color(primary-dark);
                margin-bottom: 0.5rem;
                filter: $shadow;

                @include desktop {
                    width: 30%;
                    margin-right: 0.5rem;

                    &:hover {
                        background-color: color(tertiary-dark);
                    }
                }
            }

            .btnFormInactivo {
                width: 80%;
                height: 2.5rem;
                text-decoration: none;
                background-color: color(primary-light);
                border-radius: 10px;
                border: 0;
                font-family: anton;
                font-size: 1rem;
                text-transform: uppercase;
                color:color(secondary);
                margin-bottom: 0.5rem;
                filter: $shadow;

                @include desktop {
                    width: 30%;
                }
            }
        }

        .formImput {
            margin-bottom: 3rem;
            margin-top: -6rem;

            @include desktop {
                width: 100%;
                order: -1;
                margin: 3rem;
                align-self: center;
            }

            input {
                font-family: poppins;
                text-transform: uppercase;
                font-size: 1rem;
                letter-spacing: 2px;
                color: color(secondary);
                width: 80%;
                height: 2.5rem;
                margin: 4px;
                padding: 8px 16px;
                border-radius: 10px;
                border: 1px solid color(primary-light);
            }

            textarea {
                font-family: poppins;
                text-transform: uppercase;
                font-size: 1rem;
                letter-spacing: 2px;
                color: color(secondary);
                width: 80%;
                height: 8rem;
                margin: 4px;
                padding: 8px 16px;
                border-radius: 10px;
                border: 1px solid color(primary-light);
            }
        }
    }
}