@import "variables";
@import "mixins";

@function color ($color-name) {
    @return map-get($colors, $color-name);
}

header {
    height: 5.25rem;
    width: 100vw;
    background-color: color(primary);
    position: fixed;
    align-items: center;
    filter: $shadow;
    z-index: 3;

    @include desktop {
        border-bottom: 2px solid color(primary-light);

        .centrarLogo {
            margin-bottom: 1rem;
        }

        .navAlineado {
            height: 6.25rem;
        }
    }

    nav {
        height: 5.25rem;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navLogo {
            width: 10rem;
            padding: 1rem;
            margin-left: 1rem;
            animation: fadeIn;
            animation-duration: 2s;
        }

        .navIcono {
            font-size: 1.5rem;
            color: color(primary-light);
            margin-right: 1rem;
            cursor: pointer;

            @include desktop {
                display: none;
            }
        }

        .navMenu {
            position: fixed;
            width: 100%;
            height: 0vh;
            top: 5.25rem;
            background-color: color(primary);
            padding-left: 1rem;
            border-bottom: color(primary-light) solid 2px;
            transition: all .3s ease-in-out;

            @include desktop {
                position: relative;
                height: 5.25rem;
                top: 0;
                background-color: none;
                transition: none;
                text-align: right;
                padding-right: 1rem;
            }

            li {
                display: none;
                line-height: 2rem;
                padding: 1rem;
                transition: all 4s;

                @include desktop {
                    display: inline-block;
                    line-height: 4rem;
                    transition: none;
                }

                a {
                    color: color(primary-light);
                    text-transform: uppercase;
                    font-family: poppins;
                    font-weight: 400;
                    text-decoration: none;

                    @include desktop {
                        text-decoration: none;
                        position: relative;
                        transition: all 0.6s ease;
                        top: -0.5rem;

                        &::after {
                            content: "";
                            position: absolute;
                            height: 2px;
                            background-color: color(tertiary);
                            width: 0;
                            left: 50%;
                            bottom: -16px;
                            transform: translateX(-50%);
                            transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
                        }

                        &:hover {
                            color: color(tertiary);
                        }

                        &:hover::after {
                            width: 100%;
                        }
                    }
                }

                .activo {
                    color: color(tertiary);
                    font-weight: 500;
                    transition: .3s;
                }
            }
        }

        #check {
            display: none;
        }

        #check:checked~.navMenu {
            height: 21rem;

            li {
                display: block;
            }
        }


    }
}