//colores
$colors:(primary:#202124, primary-light:lighten(#202124,95%), primary-dark:darken(#202124,100%), secondary:#35363A, tertiary: #FEF17F, tertiary-dark:darken(#e3dda4,30%), white:white);

//filtros
$shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
$shadow-top: drop-shadow(0px -4px 4px rgba(0, 0, 0, 0.5));

//breakpoint
$desktop: 810px
