$color-primario: #202124;
$color-secundario: #35363A;
$color-acento: #FEF17F;
$color-fondo: #EFEFEF;
$color-negro: #000000;
$color-blanco: #ffffff;
$color-btn-hover: #b7ad5a;

$filter-bottom: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
$filter-top: drop-shadow(0px -4px 4px rgba(0, 0, 0, 0.5));

$desktop: 810px
